.idea
.git
node_modules
.circleci
.github
build
coverage
docker
docs
media
Resources
scripts
.DS_Store

example
!example/sense-navigation_v1x.qvf

.babelrc
.editorconfig
.eslintrc.json
.gitattributes
.gitignore
.npmrc
.nvmrc
.sense-go.local.yml
.sense-go.yml
.verb.md
CHANGELOG.yml
docker-compose.*
Dockerfile.*
LICENSE.md
Makefile
README.md
todos.md
