.idea
.git
node_modules
.circleci
.github
coverage
docker
docs
media
build/*.zip
Resources
scripts
.DS_Store

#example
#!example/sense-navigation_v1x.qvf

.babelrc
.editorconfig
.gitattributes
.gitignore
.nvmrc
.sense-go.local.yml
.sense-go.yml
.verb.md
CHANGELOG.yml
docker-compose.*
Dockerfile.*
LICENSE.md
Makefile
README.md
todos.md
