# =========================
# Project specific files
# =========================
Resources/
Tests/
web.*.config
dist/
/**/node_modules/
todos.md
/build/*_dev.zip
.tmp/
.sense-go.local.yml
/example/Search

# local debugging
docker-compose.yml
docker-compose.dev.yml

/docker

# =========================
# IDEs
# =========================

# a settings folder for Visual Studio Code
.vscode

# IntelliJ/Webstorm
.idea/


# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store



